<%= form_tag('/admin/agents/bulk_creation') do %>
  <div class="agent_div">
    <%= text_area_tag 'csv_area', params[:phone_lga],
                      placeholder: "Provide one or more number and lga in csv format. Example:" +
                          "\n09765432108, Egor" +
                          "\n09834753895, Egor" +
                          "\n09948574392, Igueben" +
                          "\n08948567437, Igueben" +
                          "\n09348578458, Oredo",
                      rows: 10, cols: 25, name: "phone_lga", :class => "csv_area"%>
  </div>
  <%= submit_tag "Save"%>
<% end %>
<script>
$('#csv_area').linedtextarea()
</script>
<br/>
<div>
  Note: Both number and LGA are mandatory for each agent
</div>
<br/>
<div>
  Note: LGA names are case sensitive. Following are the allowed values for LGA:
  <ol>
    <li>Akoko-Edo</li>
    <li>Egor</li>
    <li>Esan Central</li>
    <li>Esan North-East</li>
    <li>Esan South-East</li>
    <li>Esan West</li>
    <li>Etsako Central</li>
    <li>Etsako East</li>
    <li>Etsako West</li>
    <li>Igueben</li>
    <li>Ikpoba-Okha</li>
    <li>Oredo</li>
    <li>Orhionmwon</li>
    <li>Ovia North-East</li>
    <li>Ovia South-West</li>
    <li>Owan East</li>
    <li>Owan West</li>
    <li>Uhunmwonde</li>
  </ol>
</div>
