<div class="batch_form">
	<%= label_tag :amount, "Amount", class: 'amount_label'%>
	<%= select_tag 'amount', options_for_select((['Please select'] + JSON.parse(ENV['AMT'])).map{|x| [x,x] } ),
	    class: 'amount_select_field' %>
	<%= label_tag :count, "Count", class: 'count_label' %>
	<%= text_field_tag 'count',"", :class => "count_text_field" %>
</div>
<div id="add">add</div>

<script>
	$('#add').click(function(){
		$('.batch_form:last').after('<div class="batch_form">'+$('.batch_form:last').html()+ '</div');
	});
</script>