<table border="0" cellspacing="0" cellpadding="0" id="index_table_agents" class="index_table index" paginator="true">
	<thead>
		<tr>
			<th class="col">Period</th>
			<th class="col">Payers Registered</th>
			<th class="col">Business Registered</th>
      <th class="col">Vehicles Registered</th>
		</tr>
	</thead>
	<tbody id='show_reports_tb1'>
	  <%= render 'admin/reports/tb1_stat', stat: params['type'] || 'daily' %>
	</tbody>
</table>

<table border="0" cellspacing="0" cellpadding="0" id="index_table_agents" class="index_table index" paginator="true">
	<thead>
		<tr>
			<th class="col">LGA</th>
			<th class="col"># Transactions</th>
			<th class="col">Revenue Collected</th>
		</tr>
	</thead>
	<tbody id='show_reports_tb2'>
		<%= render 'admin/reports/tb2_stat', stat: params['type'] || 'daily'%>
	</tbody>
</table>

<%#= form_tag admin_reports_path, remote: true do %>
  <%#= label_tag 'Start Date', nil, class: 'bold' %>
  <%#= date_field_tag 'start_date', (Date.today - 1), class: 'width_10' %>
  <%#= label_tag 'End Date', nil, class: 'bold' %>
  <%#= date_field_tag 'end_date', Date.today, class: 'width_10' %>
  <%#= hidden_field 'time_format', nil,class: 'time_format', name: "time_format"  %>
  <%#= submit_tag 'Export', class: 'bold' %>
<%# end %>

