<% if stat == 'daily' %>
  <% @leaderboard = Date.today.to_s(:long) %>
	<% @individuals = Individual.today_created %>
	<% @businesses = Business.today_created %>
<% elsif (stat == 'monthly') %>
  <% @leaderboard = Date.today.to_s(:month_and_year) %>
	<% @individuals = Individual.this_month_created %>
	<% @businesses = Business.this_month_created %>
<% elsif (stat == 'yearly') %>
  <% @leaderboard = Date.today.year %>
	<% @individuals = Individual.this_year_created %>
	<% @businesses = Business.this_year_created %>
<% end %>

<tr>
	<td class="col"><%= @leaderboard %></td>
	<td class="col"><%= number_with_delimiter(@individuals.size) %></td>
	<td class="col"><%= number_with_delimiter(@businesses.size) %></td>
</tr>
